version: "3.9"

services:
  fastapi: &fastapi
    build:
      context: .
      dockerfile: Dockerfile
    image: backend_fastapi
    volumes:
      - .:/app
    env_file:
      - .env
#    depends_on:
#      postgres:
#        condition: service_healthy
#      influxdb:
#        condition: service_healthy
    ports:
      - "8000:8001"
    command: uvicorn config.asgi:fastapp --reload --host 0.0.0.0 --port 8000

  telega:
    <<: *fastapi
    ports: []
    command: python bots/telega.py

  django:
    <<: *fastapi
    ports:
      - "8001:8000"
#    command: python manage.py runserver 0.0.0.0:8000 --settings=config.settings
    command: uvicorn config.asgi:application --reload --host 0.0.0.0 --port 8000 --lifespan off


  postgres:
    build:
      context: compose/postgres
      dockerfile: ./Dockerfile
    image: postgres
    restart: unless-stopped
    volumes:
      - .docker/postgres/data:/var/lib/postgresql/data
      - .docker/postgres/backup:/backups
    ports:
      - "5433:5432"
    env_file:
      - .env
    stdin_open: true
    tty: true
    healthcheck:
      test: pg_isready -U "$$POSTGRES_USER" -d "$$POSTGRES_DB"
      interval: 10s
      timeout: 2s
      retries: 10
    command: postgres -c 'max_connections=1000'

#
#  mongo:
#    image: mongo:4.4
#    env_file:
#      - .env
#    environment:
#      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
#      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
#    volumes:
#      - .docker/mongo:/data/db
#    ports:
#      - "27017:27017"

  influxdb:
    image: influxdb:2.1
    restart: unless-stopped
    ports:
      - '8086:8086'
    volumes:
      - .docker/influxdb/data:/var/lib/influxdb2
      - .docker/influxdb/config:/etc/influxdb2
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=${INFLUXDB_USERNAME}
      - DOCKER_INFLUXDB_INIT_PASSWORD=${INFLUXDB_PASSWORD}
      - DOCKER_INFLUXDB_INIT_ORG=${INFLUXDB_V2_ORG}
      - DOCKER_INFLUXDB_INIT_BUCKET=air


#  traefik:
#    image: "traefik:v2.4"
#    container_name: "traefik"
#    command:
#      - "--log.level=DEBUG"
#      - "--api.insecure=true"
#      - "--providers.docker=true"
#      - "--api.dashboard=true"
#      - "--providers.docker.exposedbydefault=false"
#      - "--entrypoints.fastapi.address=:80"
#    ports:
#      - "80:80"
#      - "8080:8080"
#    volumes:
#      - "/var/run/docker.sock:/var/run/docker.sock:ro"


  grafana:
    image: grafana/grafana:7.5.13
    container_name: grafana
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      - GF_SECURITY_ADMIN_USER=${GRAFANA_USERNAME}
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_PASSWORD}
    user: "0"
    links:
      - influxdb
    volumes:
      # Data persistency
      # sudo chown 472:472 .docker/grafana
      - .docker/grafana:/var/lib/grafana
      - ./compose/grafana/provisioning:/etc/grafana/provisioning
      - ./compose/grafana/config.ini:/etc/grafana/grafana.ini

#  noco:
#    depends_on:
#      postgres:
#        condition: service_healthy
#    image: nocodb/nocodb:latest
#    ports:
#      - "8080:8080"
#      - "8081:8081"
#      - "8082:8082"
#      - "8083:8083"
#    restart: always
#    environment:
#      NC_DB: "pg://postgres:5432?u=${POSTGRES_USER}&p=${POSTGRES_PASSWORD}&d=${POSTGRES_DB}"

#volumes:
#  grafana_provisioning:

