MEASUREMENT_NAME=bashair
DOMAIN_API=air.localhost
DOMAIN_INFLUX=panel.localhost

INFLUXDB_USERNAME=admin
INFLUXDB_PASSWORD=
INFLUXDB_V2_URL=http://influxdb:8086
INFLUXDB_V2_ORG=bashair
INFLUXDB_V2_TOKEN=

# Mongo
MONGO_DB=bashair
MONGO_USER=
MONGO_PASSWORD=
MONGO_HOST=db

TELEGRAM_TOKEN=
NOTION_START_PAGE=
