{% extends "admin/change_form.html" %}
{% load i18n admin_urls static leaflet_tags %}

{% block extrastyle %}
    {{ block.super }}
    {% leaflet_css plugins="ALL" %}
    <style>
        /* Force leaflet controls underneath header (z-index 1000) and
           above leaflet tiles (z-index 400)*/
        .leaflet-top {
            z-index: 999;
        }
    </style>
    {% leaflet_css plugins="ALL" %}
{% endblock %}

{% block extrahead %}
{% leaflet_js plugins="ALL" %}

{% endblock %}

{% block admin_change_form_document_ready %}
    {{ block.super }}
    {% leaflet_js plugins="ALL" %}
    <script>
        window.addEventListener("map:init", function (event) {
            var map = event.detail.map; // Get reference to map
            console.log(map)
            L.control.locate().addTo(map);
            L.Control.geocoder().addTo(map);

        });
    </script>
{% endblock %}
